body {
	background-color: black;
}
div#board {
	position: relative;
	width: 1024px;
	height: 863px;
	margin: auto;
	background: url("images/board.jpg") no-repeat;
}

div#messageArea {
	position: absolute;
	top: 0px;
	left: 0px;
	color: rgb(83, 175, 19);
}
.hit {
	background: url("images/ship.png") no-repeat center center;
}
.miss {
	background: url("images/miss.png") no-repeat center center;
}
table {
	border-spacing: 0px; 
	position: absolute;
	left: 173px;
	top: 98px;
}
td {
	width: 94px;
	height: 94px;
}
form {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 15px;
	background-color: rgb(83, 175, 19);
}
form input {
	background-color: rgb(152, 207, 113);
	border-color: rgb(83, 175, 19);
	font-size: 1em;
}
